services:
  postgres:
    image: postgres:16.9-bullseye
    restart: unless-stopped
    volumes:
      - 'pg_data:/var/lib/postgresql/data:rw'
      - './docker-init-db.sh:/docker-entrypoint-initdb.d/docker-init-db.sh'
    ports:
      - 65535:5432
    environment:
      POSTGRES_USER: scorebrawl
      POSTGRES_PASSWORD: scorebrawl
      POSTGRES_MULTIPLE_DATABASES: scorebrawl_local,scorebrawl_test
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d scorebrawl_local -U scorebrawl']
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  pg_data:
    name: scorebrawl-local-infra-pg-data
    labels:
      origin: scorebrawl-local-infra